/* ------------------------------ 
// BEGIN CSS RESET
------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

blockquote, q {
    quotes: none;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
html {
    overflow: -moz-scrollbars-vertical;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
body,
td,
th,
input,
textarea,
select {
    outline: none;
    text-decoration: none;
}
img {
    display: block;
    float: right;
    width: 250px;
    margin: 5px 0 0 0;
}
h1 {
    font-size: 24px;
    line-height: 20px;
}
h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
    font-weight: normal;
}
h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px 0;
    font-weight: normal;
}
h4 {
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 4px 0;
    font-weight: normal;
    text-decoration: underline;
}
p {
    font-size: 11px;
    line-height: 18px;
}
hr {
    color: #ddd;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 50px 0;
    width: 100%;
}
.report th {
    background: #2A3F54;
    color: #fff!important;
}
.report .mytbl thead td {
    background: #2D5B82;
    color: #fff!important;
}
.report tr {
    border: 1px solid #ccc;
}
.report th, .report td {
    line-height: 20px;
    vertical-align: middle;
    padding: 4px 5px;
    border: 1px solid #ccc;
}
.report th {
    font-weight: bold;
    text-align: left;
}
th.right, td.right {
    text-align: right;
}
.report tfoot td {
    font-weight: bold;
}

/* Overalls */
.overalls_total {
    /*margin: 20px 0 40px;*/
    width: 180px;
    float: right;
}
.overalls_total table {
    margin: 0;
}
fieldset.scheduler-border {
    border: 1px groove #2E5A82 !important;
    padding: 0 1.4em !important;
    margin: 0 !important;
    z-index: 999;
    color: #337ab7;
    opacity: 1;
}
.overalls_total legend.scheduler-border {
    background: black !important;
    font-size: 1.5em;
    z-index: 9;
    font-weight: 900;
    box-shadow:none;
    text-align: left;
    width:auto;
    color: #2D5B82;
    padding:0 15px;
    border-bottom:none;
    border: none;
    margin: 0;
}
.overalls_total .scheduler-border .control-group {
    margin: 0px 0 0;
    padding:8px 0px 10px;
    float: left;
    width: 100%;
}
.overalls_total table tr td {
    padding:2px 5px;
}
.overalls_total td, .overalls_total th, .overalls_total tr {
    border: none;
}

    table.report tr td, table.print-friendly tr th {
        page-break-inside: avoid;
    }
    
    .x_panel{
        margin-bottom: 50px !important;
    }
